<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.ecoreadcm">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="EcoRead"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.EcoRead">

        <activity
            android:name=".ui.MainActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity android:name=".ui.ProprietariosActivity" />
        <activity android:name=".ui.ProprietarioDetalheActivity" />
        <activity android:name=".ui.ApartamentosActivity" />
        <activity android:name=".ui.ApartamentoDetalheActivity" />
        <activity android:name=".ui.NovaLeituraActivity" />
        <activity android:name=".ui.LeiturasDoMesActivity" />

    </application>
</manifest>